<div class="page-container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/dashboard">Dashboard</a></li>    
    </ol>
  </nav>


  <div class="container-content">
    <div class="center-text">
      <p>Welcome to OurAus Dashboard. Please click  below for your desired service.</p>
      <p>If there are any issues please use the email, call or live chat to help you achieve your goal today.</p>
    </div>
  
    <!-- Set up two bootstrap rows, add 3 buttons to each row -->
    <div class="row">

      <div class="col-md">
        <a routerLink="/dashboard/centrelink"><button class="btn buttonDashboard colour1">Centrelink</button></a>
      </div>

      <div class="col-md">
        <a routerLink="/dashboard/user-info"><button class="btn buttonDashboard colour2">User Information</button></a>
      </div>

      <div class="col-md">
        <a routerLink="/UnderConstruction"><button class="btn buttonDashboard colour1">Australian Job Search</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <a routerLink="/UnderConstruction"><button class="btn buttonDashboard colour2">Medicare</button></a>
      </div>

      <div class="col-md">
        <a routerLink="/UnderConstruction"><button class="btn buttonDashboard colour1">My Aged Care</button></a>
      </div>

      <div class="col-md">
        <a routerLink="/UnderConstruction"><button class="btn buttonDashboard colour2">Child Support</button></a>
      </div>
    </div>
  </div>

  <div class="row text-center" style="margin-top: 50px;">
    <div class="col-md-2"></div>
      <div class="col-md">
        <p style="line-height: 1.7rem">OurAus is here to combine all your services in one, giving you a simple and easy way to manage your life. We strive to give you the best 
          experience, with a clean and effective solution. If you are not satisfied please click below for any suggestions or changes you would like to see.</p>
      </div>
    <div class="col-md-2"></div>
  </div>

  <hr style="width: 80%;">

  <div class="text-center">
    <button class="btn darkButton"  style="margin: 0 5%;" type="button">Suggestions</button>
    <button class="btn darkButton"  style="margin: 0 5%;" type="button">Contact us</button>
  </div>
</div>

<!-- Colours can be changed from styles.css script "src/styles.css" -->