<div class="container-fluid h-100 d-inline-block">

  <!-- Form for the first page of registration, will perform function from the registration.ts file -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div *ngIf="stepOne">
    <div class="form-row row-width">

      <div class="container container-register">
        <h1>Basic Information</h1>
        <hr>
        <!-- Created rows for form inputs on same line, here is first and last name -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" 
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name" 
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
          </div>
        </div>
        
        <!-- Email Address input -->
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" formControlName="email" class="form-control" placeholder="Email Address"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>

        <!-- Contact number and date of birth on same line -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone">Contact Number</label>
            <input type="text" formControlName="phone" class="form-control" id="phone" maxlength="10"
                 [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Contact Number is required</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="DOB">Date of Birth</label>
            <input type="date" formControlName="dob" class="form-control" id="DOB" 
                [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">Date of Birth is Required</div>
            </div>
          </div>
        </div>
        
        <!-- Address input -->
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" formControlName="address" class="form-control" id="inputAddress" placeholder="123 Name Street"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is Required</div>
          </div>
        </div>

        <!-- Suburb -->
        <div class="form-group">
          <label for="inputAddress2">Suburb</label>
          <input type="text" formControlName="suburb" class="form-control" id="inputAddress2" placeholder="Suburb"
              [ngClass]="{ 'is-invalid': submitted && f.suburb.errors }" />
            <div *ngIf="submitted && f.suburb.errors" class="invalid-feedback">
              <div *ngIf="f.suburb.errors.required">Suburb is Required</div>
            </div>
        </div>

        <!-- Row for city, state and post code all on same line -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" formControlName="city" class="form-control" id="inputCity"
                [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">Suburb is Required</div>
            </div>
          </div>

          <!-- Have selectable elements as each state of Australia -->
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>ACT</option>
              <option>NSW</option>
              <option>NT</option>
              <option>QLD</option>
              <option>SA</option>
              <option>TAS</option>
              <option>VIC</option>
              <option>WA</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="inputZip">Post Code</label>
            <input type="text" formControlName="postcode" class="form-control" id="inputZip"
                [ngClass]="{ 'is-invalid': submitted && f.postcode.errors }" />
            <div *ngIf="submitted && f.postcode.errors" class="invalid-feedback">
              <div *ngIf="f.postcode.errors.required">Post Code is Required</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="pwd" required minlength="6"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  />

            <!-- Alert message form validation requirements, minlength 6 characters -->
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="password">Re-enter Password</label>
            <input type="password" formControlName="verify" class="form-control" id="repwd" required minlength="6"
                [ngClass]="{ 'is-invalid': submitted && f.verify.errors }"  />

            <!-- Alert message form validation requirements, minlength 6 characters -->
            <div *ngIf="submitted && f.verify.errors" class="invalid-feedback">
                <div *ngIf="f.verify.errors?.MatchPassword">Password not match</div>
            </div>
          </div>
        </div>

        <hr>
        <!-- Row for paragraph and check box -->
        <div class="form-row">
          <div class="col-10">
            <p class="text-sm-center">Would you like to connect to other sources to prefill, or fully complete your infromation? Please check the box if so.</p>
          </div>
          <div class="col-2">
            <div class="form-check">
              <input class="form-check-input form-control-lg" type="checkbox" value="" id="prefillDataCheckBox">
              <label class="form-check-label" for="prefillDataCheckBox">
              </label>
            </div>
          </div>
        </div>

        <!-- Using pagination for the navigation through registration -->
        <div class="row navigation">
          <div class="col-md-4">
            <p class="text stage">Stage</p>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                </ul>
              </nav>
          </div>
          
          <!-- Close icon -->
          <div class="col-md-4">
            <button type="button " class="close" aria-label="Close" (click)=exitRegister()>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Next button -->
          <div class="col-md-4">
            <button type="button" class="close next"  aria-label="close" (click)=onSubmitStepTwoValidate()>
              <span aria-hidden="true">&rarr;</span>
            </button>
          </div>
        </div>

      </div>
    </div>
    </div>

    <!-- -------------------------------------------------------------------------------------------------- -->

    <div *ngIf="stepTwo">
      <div class="form-row row-width">

      <div class="container container-register">
        <h1>Information Shortcuts</h1>
        <hr>
        <p>Please add details of the following;</p>

        <div class="form-row">
          <h4><span><button type="button" class="btn signin"></button> University </span></h4>
        </div>

        <div class="form-row">
          <h4><span><button type="button" class="btn signin"></button> Australian Taxation Office </span></h4>
        </div>

        <div class="form-row">
          <h4><span><button type="button" class="btn signin" ></button> Department of Transport </span></h4>
        </div>

        <div class="form-row">
            <h4><span id="last"><button type="button" class="btn signin"></button> ETC</span></h4>
        </div>


          <!-- Using pagination for the navigation through registration -->
        <div class="row navigation">
            <div class="col-md-4">
              <p class="text stage">Stage</p>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                    <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                    <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                    <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                  </ul>
                </nav>
            </div>
            
            <!-- Close icon -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepOne()>
                <span aria-hidden="true">&larr;</span>
              </button>
            </div>
            <!-- Next button -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepThree()>
                <span aria-hidden="true">&rarr;</span>
              </button> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div *ngIf="stepThree">
      <div class="form-row row-width">

        <div class="container container-register">
          <h1>Photo Verification</h1>
          <hr>

          <div class="container photo"></div>

          <div class="form-row"></div>

        <!-- Using pagination for the navigation through registration -->
        <div class="row navigation">
            <div class="col-md-4">
              <p class="text stage">Stage</p>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                    <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                    <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                    <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                  </ul>
                </nav>
            </div>
            
            <!-- Close icon -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepTwo()>
                <span aria-hidden="true">&larr;</span>
              </button>
            </div>
            <!-- Next button -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepFour()>
                <span aria-hidden="true">&rarr;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="stepFour">
      <div class="form-row row-width">

        <div class="container container-register">
          <h1>Confirm Details</h1>
          <hr>
          <p><span>First Name:  </span></p>
          <p><span>Last Name: {{ last_name }} </span></p>
          <p><span>Email Address: {{ email_address }} </span></p>
          <p><span>Date of Birth: {{ dob }} </span></p>
          <p><span>Address: {{ address1 }} </span></p>
          <p><span>Address: {{ address2 }} </span></p>
          <p><span>City: {{ city }} </span></p>
          <p><span>State: {{ state }} </span></p>
          <p><span>Zip Code: {{ zip_code }} </span></p>
          

        <!-- Using pagination for the navigation through registration -->
          <div class="row navigation">
            <div class="col-md-4">
              <p class="text stage">Stage</p>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                </ul>
              </nav>
            </div>
            
            <!-- Close icon -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepThree()>
                <span aria-hidden="true">&larr;</span>
              </button>
            </div>
            <!-- Next button -->
            <div class="form-group col-md-4">
              <button type="submit" class="btn"  id="nextIcon">Finish</button> 
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>