#prefillDataCheckBox {
    width: 100%;
    height: 100%;
}

.close {
    font-size: 60px;
    width: 100%;
}

#nextIcon {
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}

.navigation {
    flex-wrap: nowrap;
    margin-bottom: -5%;
}

.stage {
    margin-left: 30px;
}
