.signin {
    padding: 10px 20px 10px 20px;
    background-color:#2b7a78;
    float: right;
}

.cancel {
    padding: 10px 20px 10px 20px;
    float: left;
}

.container-reset {
    margin-block-start: 20px;
    background-color: #60beba; /* Login container colour */
    background-image: none;
    background-repeat: no-repeat;
    color: #f5fbfb; /* Login text colour */
    padding-bottom: 20px;
    min-height: 400px;
    padding: 5%;
    width: 100%;  
}

@media screen and (min-width: 1000px) {
    .container-reset {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }}