<div class="container-fluid h-100 d-inline-block">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-row row-width">
      <div class="container-reset">
        <h1>Reset Password</h1>
        <hr>

        <!-- Email input -->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email Address"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password">New Password</label>
              <input type="password" formControlName="password" class="form-control" id="pwd" required minlength="6"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  />
  
              <!-- Alert message form validation requirements, minlength 6 characters -->
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="password">Re-enter Password</label>
              <input type="password" formControlName="verify" class="form-control" id="repwd" required minlength="6"
                  [ngClass]="{ 'is-invalid': submitted && f.verify.errors }"  />
  
              <!-- Alert message form validation requirements, minlength 6 characters -->
              <div *ngIf="submitted && f.verify.errors" class="invalid-feedback">
                  <div *ngIf="f.verify.errors?.MatchPassword">Password not match</div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md">
              <a routerLink='/login'><button type="button" class="btn cancel"  id="nextIcon">Cancel</button></a>
              <button type="submit" class="btn signin"  id="nextIcon">Submit</button> 
            </div>
          </div>
      </div>
    </div>
  </form>
</div>