<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard/centrelink">Centrelink</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/dashboard/centrelink/centrelink-form">Centrelink Claim</a></li>      
    </ol>
  </nav>

<div class="container-fluid h-100 d-inline-block">

<!-- Form for the first page of registration, will perform function from the registratio.ts file -->
  <form  (ngSubmit)="onSubmit()">
    <div *ngIf="stepOne">
      <!--<div *ngIf="stepOne">-->
      <div class="form-row row-width">

        <div class="container container-centrelinkform">
          <h1>Check Eligibility</h1>
          <hr>
          <div class="form-row">
            <p>Are you currently studying full time?&nbsp;&nbsp; <input type="checkbox"/></p>
          </div>
          <div class="form-row">
            <p> YO &nbsp;&nbsp; <input type="text" /></p>
          </div>

          <!-- Using pagination for the navigation through registration -->
          <div class="row navigation">
            <div class="col-md-4">
              <p class="text stage">Stage</p>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                </ul>
              </nav>
            </div>

          <!-- Close icon -->
            <div class="col-md-4">
              <button type="button " class="close" aria-label="Close" routerLink='/dashboard/centrelink'>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <!-- Next button -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepTwo()>
                <span aria-hidden="true">&rarr;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="stepTwo">
      <div class="form-row row-width">

        <div class="container container-centrelinkform">
            <h1>Results</h1>
            <hr>
            <div class="form-row">
            </div>

        <!-- Using pagination for the navigation through registration -->
          <div class="row navigation">
            <div class="col-md-4">
              <p class="text stage">Stage</p>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                </ul>
              </nav>
            </div>

            <!-- Close icon -->
            <div class="col-md-4">
              <button type="button " class="close" aria-label="Close" (click)=onSubmitStepOne()>
                <span aria-hidden="true">&larr;</span>
              </button>
            </div>
            <!-- Next button -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepThree()>
                <span aria-hidden="true">&rarr;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="stepThree">
      <div class="form-row row-width">
        <div class="container container-centrelinkform">

          <h1>Extra Documentation</h1>
          <hr>
          <div class="form-row">
            <h4><span><button type="button" class="btn signin"></button> Rental Agreement </span></h4>
          </div>
  
          <div class="form-row">
            <h4><span><button type="button" class="btn signin"></button> Proof of Identity </span></h4>
          </div>
  
          <div class="form-row">
            <h4><span><button type="button" class="btn signin" ></button>ETC</span></h4>
          </div>

          <div class="form-row">
            <p>The required Documentation can simply be uploaded via scan or mobile. 
              You may also come into the office however it is not required
            </p>
          </div>

        <!-- Using pagination for the navigation through registration -->
          <div class="row navigation">
            <div class="col-md-4">
              <p class="text stage">Stage</p>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                  <li class="page-item"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                </ul>
              </nav>
            </div>

            <!-- Close icon -->
            <div class="col-md-4">
              <button type="button " class="close" aria-label="Close" (click)=onSubmitStepTwo()>
                <span aria-hidden="true">&larr;</span>
              </button>
            </div>
            <!-- Next button -->
            <div class="col-md-4">
              <button type="button" class="close"  aria-label="close" (click)=onSubmitStepFour()>
                <span aria-hidden="true">&rarr;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="stepFour">
      <div class="form-row row-width">
        <div class="container container-centrelinkform">

          <h1>Claim Complete</h1>
          <hr>
          <div class="form-row">
            <p>Congratulations!</p>
            </div>
            <div class="form-row">
            <p>You have completed the claim process. The estimated completion date is below:</p>
          </div>

            <p>28/11/2018</p>
            <p>14 Days</p>
            <p>For updates on the claim and the progression please choose how you would like
              to be notified
            </p>
            <div class="form-row">
              <div class="col-md">
                <p>Email</p>
              </div>
              <div class="col-md">
                <p>Call</p>
              </div>
              <div class="col-md">
                <p>SMS</p>
              </div>
            </div>

            <div class="form-row">
                <div class="col-md">
                  <input type="checkbox"/>
                </div>
                <div class="col-md">
                  <input type="checkbox"/>
                </div>
                <div class="col-md">
                  <input type="checkbox"/>  
                </div>
              </div>

        <!-- Using pagination for the navigation through registration -->
          <div class="row navigation">
            <div class="col-md-4">
              <p class="text stage">Stage</p>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepOne()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepTwo()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepThree()></button></li>
                  <li class="page-item active"><button type="button" class="page-link" (click)=onSubmitStepFour()></button></li>
                </ul>
              </nav>
            </div>

          <!-- Close icon -->
            <div class="col-md-4">
              <button type="button " class="close" aria-label="Close" (click)=onSubmitStepThree()>
                <span aria-hidden="true">&larr;</span>
              </button>
            </div>
            <!-- Next button -->
            <div class="form-group col-md-4">
              <a routerLink='/dashboard/centrelink'><button type="submit" class="btn signin"  id="nextIcon">Finish</button></a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>