<div class="page-container">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard/centrelink">Centrelink</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/dashboard/centrelink/centrelink-form">Centrelink Claim</a></li>      
    </ol>
  </nav>
  <form  (ngSubmit)="onSubmit()">
      <div *ngIf="stepOne">
          <div class="form-row">

              <div class="container-content register-container">
          <h1>Check Eligibility</h1>
          <hr>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Education
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Are you currently studying?&nbsp;&nbsp; <input type="checkbox"/></p>
                    <p>Full time or Part time? Full time <input type="checkbox"/> Part time <input type="checkbox"/></p>
                    <p>If so, where are you studying? <input type="text"/></p>
                    <p>When is your expected completion date? <input type="date"/></p>

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Living Conditions
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Do you live with a Parent / Guardian? <input type="checkbox"/> </p>
                  <p>Do you live out of home renting? <input type="checkbox"/></p>
                  <p>How much do you pay each week in rent?<input type="number"/></p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Work Information
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Do you currently have a full/part or casual job? <input type="checkbox"/></p>
                  <p>What is your average weekly amount of hours at work? <input type="number"/></p>
                  <p>What is your average gross income per week? $<input type="number"/></p>
                </div>
              </div>
            </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item active"><a class="page-link" (click)=onSubmitStepOne()>1</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepTwo()>2</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepThree()>3</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepFour()>4</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepTwo()>Next</a></li>
                </ul>
              </nav>
        </div>
      </div>
    </div>

    <div *ngIf="stepTwo">
        <div class="form-row">

            <div class="container-content register-container">
            <h1>Results</h1>
            <hr>
            <div class="form-row">
              <h1>Congratulations you are eligible!!!</h1>
              <p>You may do the Student Allowance Claim</p>
              <p>Please allow our system to compile your information to make this as simple as possible</p>
              <p>The following page will require minimal action to complete your claim, thank you.</p>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepOne()>Previous</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepOne()>1</a></li>
                  <li class="page-item active"><a class="page-link" (click)=onSubmitStepTwo()>2</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepThree()>3</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepFour()>4</a></li>
                  <li class="page-item"><a class="page-link" (click)=onSubmitStepThree()>Next</a></li>
                </ul>
              </nav>
        </div>
      </div>
    </div>

    <div *ngIf="stepThree">
        <div class="form-row">

            <div class="container-content register-container">

          <h1>Extra Documentation</h1>
          <hr>
          <div class="form-row">
            <h4><span><button type="button" class="btn formButton darkButton linkButton"> Rental Agreement </button></span></h4>
          </div>
  
          <div class="form-row">
            <h4><span><button type="button" class="btn formButton darkButton linkButton"> Proof of Identity </button></span></h4>
          </div>
  
          <div class="form-row">
            <h4><span><button type="button" class="btn formButton darkButton linkButton" >ETC</button></span></h4>
          </div>

          <div class="form-row">
            <p>The required Documentation can simply be uploaded via scan or mobile. 
              You may also come into the office however it is not required
            </p>
          </div>

          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" (click)=onSubmitStepTwo()>Previous</a></li>
                <li class="page-item"><a class="page-link" (click)=onSubmitStepOne()>1</a></li>
                <li class="page-item"><a class="page-link" (click)=onSubmitStepTwo()>2</a></li>
                <li class="page-item active"><a class="page-link" (click)=onSubmitStepThree()>3</a></li>
                <li class="page-item"><a class="page-link" (click)=onSubmitStepFour()>4</a></li>
                <li class="page-item"><a class="page-link" (click)=onSubmitStepFour()>Next</a></li>
              </ul>
            </nav>
        </div>
      </div>
    </div>

    <div *ngIf="stepFour">
        <div class="form-row">
            <div class="container-content register-container">

          <h1>Claim Complete</h1>
          <hr>
          <div class="form-row">
            <p>Congratulations!</p>
            </div>
            <div class="form-row">
            <p>You have completed the claim process. The estimated completion date is below:</p>
          </div>

            <p>28/11/2018</p>
            <p>14 Days</p>
            <p>For updates on the claim and the progression please choose how you would like
              to be notified
            </p>

            <div class="form-row">
              <div class="col-md">
                <p>Email</p>
              </div>
              <div class="col-md">
                <p>Call</p>
              </div>
              <div class="col-md">
                <p>SMS</p>
              </div>
            </div>

            <div class="form-row">
                <div class="col-md">
                  <input type="checkbox"/>
                </div>
                <div class="col-md">
                  <input type="checkbox"/>
                </div>
                <div class="col-md">
                  <input type="checkbox"/>  
                </div>
              </div>
              <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" (click)=onSubmitStepThree()>Previous</a></li>
                    <li class="page-item"><a class="page-link" (click)=onSubmitStepOne()>1</a></li>
                    <li class="page-item"><a class="page-link" (click)=onSubmitStepTwo()>2</a></li>
                    <li class="page-item"><a class="page-link" (click)=onSubmitStepThree()>3</a></li>
                    <li class="page-item active"><a class="page-link" (click)=onSubmitStepFour()>4</a></li>
                  </ul>
                </nav>

                <a routerLink='/dashboard/centrelink'><button type="submit" class="btn buttonForm center-button darkButton">Finish</button></a>

        </div>
      </div>
    </div>
  </form>
</div>
