<!-- Following html content is for the footer of each page-->

<!-- Added bootstrap navbar components and set the position to be fixed to the bottom -->
<footer class="navbar  navbar-expand-sm  navbar-dark fixed-bottom" id="footer">

  <!-- Created a button group for the contact options for OurAus with divs-->
  <!-- Positioned to the bottom right of screen -->
  <div class="btn-group btn-group-justified ml-auto">
    <div class="btn-group">
      <button type="button" routerLink="/UnderConstruction" class="btn footer-button">Send Email</button>
    </div>
    <div class="btn-group">
      <button type="button" routerLink="/UnderConstruction" class="btn footer-button">Request Call</button>
    </div>
    <div class="btn-group">
      <button type="button" (click)="openChat()" class="btn footer-button">Live Chat</button>
    </div>
  </div>
</footer>

<!-- CSS performed in the global styles.css script "src/styles.css" -->

