<!-- Header for each page, created with html and bootstrap styling -->

<!-- Set the navbar to be fixed to the top of the screen -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" routerLink='/login'><b>OurAus</b></a>

  <!-- Bootstraps collapsable navbar settings. Will collapse the right side of navbar down to a single 3 line button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Set collapsable icons to top right of screen -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/login'><b>Login</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/register'><b>Register</b></a>
      </li>
    </ul>
  </div>  
</nav>

<!-- Navbar colours created in the main styles.css script "src/styles.css" -->