<div class="page-container">
  <div class="breadcrumb-color">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard/centrelink">Centrelink</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/dashboard/centrelink/centrelink-form">Centrelink Claim</a></li>      
    </ol>
  </nav>
  </div>

<form [formGroup]="centrelinkForm" (ngSubmit)="onSubmit()">
  <div *ngIf="stepOne">
    <div class="form-row">

      <div class="container-content register-container">
        <h1>What You Need</h1>
        <hr>
        <p>You will need to supply the following documentation and details.</p> 
          <p>To assist in a fast process speed gather all the documents required.</p>
        
        <div class="row">
          <div class="title-container">
          <h5>Documents</h5>
          </div>
        </div>
        <ul>
          <li><h6>Rental Agreement</h6></li>
          <li><h6>Proof of Identity</h6></li>
        </ul>
        <div class="row">
            <div class="title-container">
          <h5>Details</h5>
          </div>
        </div>
        <ul>
          <li><h6>Work Details</h6></li>
        </ul>
        <div class="row">
          <h5>Eligibility Test Recieved</h5>
        </div>
        <div class="row">
          <p>Details from the eligilibilty checklist you performed have been prefilled.</p>
        </div>

        <button type="button" class="btn center-button lightButton" (click)=beginClaim()>Start your Claim</button>
            
        </div>
      </div>
    </div>


    <div *ngIf="stepTwo">
      <div class="f1-steps">
        <div class="f1-progress centrelink-line">
          <div class="f1-progress-line" style="width: 0%;"></div>
        </div>
        <div class="f1-step active centrelink-nav">
          <button type="button" title="Step 1 Info form" aria-label="Step 1 Info form" class="f1-step-icon" (click)=goStepTwo()><i class="fa fa-user"></i></button>
          <p>Info</p>
        </div>
        <div class="f1-step centrelink-nav">
          <button type="button" title="Step 2 Documents form" aria-label="Step 2 Documents form" class="f1-step-icon" (click)=goStepThree()><i class="fa fa-file-text"></i></button>
          <p>Documents</p>
        </div>
        <div class="f1-step centrelink-nav">
          <button type="button" title="Step 3 Confirm Information form" aria-label="Step 3 Confirm Information form" class="f1-step-icon" (click)=goStepFour()><i class="fa fa-list"></i></button>
          <p>Confirm</p>
        </div>
        <div class="f1-step centrelink-nav">
          <button type="button" title="Step 4 Complete form" aria-label="Step 4 Complete form" class="f1-step-icon" (click)=goStepFive()><i class="fa fa-check"></i></button>
          <p>Complete</p>
        </div>
      </div>
      <div class="form-row">

        <div class="container-content register-container">
          <h1>Provide Information</h1>
          <hr>
          <h4>Work Details</h4>
          <div class="form-row">
            <div class="form-group col-md">
              <label for="jobTitle">Job Title
                <input type="text" formControlName="jobTitle" class="form-control" id="jobTitle"/>
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="companyName">Company Name
                <input type="text" formControlName="companyName" class="form-control" id="companyName"/>
              </label>
            </div>
            
            <div class="form-group col-md-6">
              <label for="dateJob">Start Date
                <input type="date"  formControlName="dateJob" class="form-control" max="9999-12-31" id="dateJob"/>
              </label>
            </div>
          </div>


          <div class="form-row">
            <div class="col-auto mr-auto">
              <button type="button" class="btn lightButton navButton" (click)=goStepOne()>Previous Page</button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn darkButton navButton" (click)=goStepThree()>Next Page</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="stepThree">
      <div class="f1-steps">
        <div class="f1-progress centrelink-line">
          <div class="f1-progress-line" style="width: 35%;"></div>
        </div>
        <div class="f1-step active centrelink-nav">
          <button type="button" title="Step 1 Info form" aria-label="Step 1 Info form" class="f1-step-icon" (click)=goStepTwo()><i class="fa fa-user"></i></button>
          <p>Info</p>
        </div>
        <div class="f1-step active centrelink-nav">
          <button type="button" title="Step 2 Documents form" aria-label="Step 2 Documents form" class="f1-step-icon" (click)=goStepThree()><i class="fa fa-file-text"></i></button>
          <p>Documents</p>
        </div>
        <div class="f1-step centrelink-nav">
          <button type="button" title="Step 3 Confirm Information form" aria-label="Step 3 Confirm Information form" class="f1-step-icon" (click)=goStepFour()><i class="fa fa-list"></i></button>
          <p>Confirm</p>
        </div>
        <div class="f1-step centrelink-nav">
          <button type="button" title="Step 4 Complete form" aria-label="Step 4 Complete form" class="f1-step-icon" (click)=goStepFive()><i class="fa fa-check"></i></button>
          <p>Complete</p>
        </div>
      </div>

      <div class="form-row">

        <div class="container-content register-container">

          <h1>Documentation</h1>
          <hr>
          <div class="form-row">
            <div class="col-md-3">
              <p>Rental Agreement</p>
            </div>
            <div class="col-md-9">
              <div class="input-group">

                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3">
            Proof of Identity
          </div>
          <div class="col-md-9">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <p>The required Documentation can simply be uploaded via <b>scan</b> or <b>mobile</b>. 
            You may also come into the office however it is not required
          </p>
        </div>

        <div class="form-row">
          <div class="col-auto mr-auto">
            <button type="button" class="btn lightButton navButton" (click)=goStepTwo()>Previous Page</button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn darkButton navButton" (click)=goStepFour()>Next Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="stepFour">
    <div class="f1-steps">
      <div class="f1-progress centrelink-line">
        <div class="f1-progress-line" style="width: 70%;"></div>
      </div>
      <div class="f1-step active centrelink-nav">
        <button type="button" title="Step 1 Info form" aria-label="Step 1 Info form" class="f1-step-icon" (click)=goStepTwo()><i class="fa fa-user"></i></button>
        <p>Info</p>
      </div>
      <div class="f1-step active centrelink-nav">
        <button type="button" title="Step 2 Documents form" aria-label="Step 2 Documents form" class="f1-step-icon" (click)=goStepThree()><i class="fa fa-file-text"></i></button>
        <p>Documents</p>
      </div>
      <div class="f1-step active centrelink-nav">
        <button type="button" title="Step 3 Confirm Information form" aria-label="Step 3 Confirm Information form" class="f1-step-icon" (click)=goStepFour()><i class="fa fa-list"></i></button>
        <p>Confirm</p>
      </div>
      <div class="f1-step centrelink-nav">
        <button type="button" title="Step 4 Complete form" aria-label="Step 4 Complete form" class="f1-step-icon" (click)=goStepFive()><i class="fa fa-check"></i></button>
        <p>Complete</p>
      </div>
    </div>

    <div class="form-row">
      <div class="container-content register-container">

        <h1>Confirm Information</h1>
        <hr>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn colour1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  + Work Details
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p><span><b>Job Title:</b> {{ jobTitle }} </span></p>
                <p><span><b>Company Name:</b> {{ companyName }} </span></p>
                <p><span><b>Start Date:</b> {{ dateJob }} </span></p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn colour1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  + Rental Details
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <p><span><b>Rental Amount:</b>  $150</span></p>
                <p><span><b>Move in date:</b> 01/01/2018 </span></p>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn colour1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    + Identity
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p><span><b>Identity Accepted</b></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="col-auto mr-auto">
            <button type="button" class="btn lightButton navButton" (click)=goStepThree()>Previous Page</button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn darkButton navButton" (click)=goStepFive()>Next Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="stepFive">
    <div class="f1-steps">
      <div class="f1-progress centrelink-line">
        <div class="f1-progress-line" style="width: 100%;"></div>
      </div>
      <div class="f1-step active centrelink-nav">
        <button type="button" title="Step 1 Info form" aria-label="Step 1 Info form" class="f1-step-icon" (click)=goStepTwo()><i class="fa fa-user"></i></button>
        <p>Info</p>
      </div>
      <div class="f1-step active centrelink-nav">
        <button type="button" title="Step 2 Documents form" aria-label="Step 2 Documents form" class="f1-step-icon" (click)=goStepThree()><i class="fa fa-file-text"></i></button>
        <p>Documents</p>
      </div>
      <div class="f1-step active centrelink-nav">
        <button type="button" title="Step 3 Confirm Information form" aria-label="Step 3 Confirm Information form" class="f1-step-icon" (click)=goStepFour()><i class="fa fa-list"></i></button>
        <p>Confirm</p>
      </div>
      <div class="f1-step active centrelink-nav">
        <button type="button" title="Step 4 Complete form" aria-label="Step 4 Complete form" class="f1-step-icon" (click)=goStepFive()><i class="fa fa-check"></i></button>
        <p>Complete</p>
      </div>
    </div>
    <div class="container-content register-container">
      <h1>Claim Complete</h1>
      <hr>

      <p class="center-text">You have supplied all necessary information for your claim to be submitted.</p>
      <p class="center-text">Please click below to have your claim sent through to OurAus</p>
      
      <button type="submit" class="btn buttonForm center-button darkButton">Submit your Claim</button>
      <div class="form-row">
        <div class="col-auto mr-auto">
          <button type="button" class="btn lightButton navButton" (click)=goStepFour()>Previous Page</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="stepSix">
  <div class="container-content register-container">
    <h1>Claim Submitted Successfully</h1>
    <hr>
    <p>Congratulations your claim has been processed through our system.</p>
    <p></p>
    <p>You have the option of recieving detailed updates on your claim as it processes through our system. Via Call, SMS or Email.</p>
    <p>Select <b>one or more</b> of the options below.</p>
      <div class="form-row">
        <div class="col-md center-text">
          <label for="emailCheck"><h4>Email</h4>
            <input class="bigCheckbox" type="checkbox" id="emailCheck" />
          </label>
        </div>
        <div class="col-md center-text">
          <label for="callCheck"><h4>Call</h4>
            <input class="bigCheckbox" type="checkbox" id="callCheck" />
          </label>
        </div>
        <div class="col-md center-text">
          <label for="smsCheck"><h4>SMS</h4>
            <input class="bigCheckbox" type="checkbox" id="smsCheck" />
          </label>
        </div>
      </div>

      <div class="center-text"> <p>Estimated processing time <b>14 days</b>: </p><h5>{{ date | date }}</h5></div>
      <p></p>

    <a routerLink="/dashboard"><button type="button" class="btn buttonForm center-button darkButton">Accept and Return to Dashboard</button></a>

  </div>   
</div>