<div class="page-container">
    <div class="breadcrumb-color">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a routerLink="/dashboard/centrelink">User Information</a></li>      
    </ol>
  </nav>
</div>

  <div class="row">
    <div class="col-md">
      <a routerLink="/dashboard"><button class="btn darkButton center-button">Return to Dashboard</button></a>
    </div>
    <div class="col-md-10"></div>
  </div>

  <div class="container-content register-container">
    <h1>User Information</h1>
    <hr>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn colour1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              + Basic Information
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p><span><b>First Name:</b>  {{ firstName }} </span></p>
            <p><span><b>Last Name:</b> {{ lastName }} </span></p>
            <p><span><b>Email Address:</b> {{ email }} </span></p>
            <p><span><b>Phone Number:</b> {{ phone }} </span></p>
            <p><span><b>Date of Birth:</b> {{ dob }} </span></p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn colour1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              + Study Information
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p><span><b>University:</b>  {{ institute }} </span></p>
            <p><span><b>Student Number:</b> {{ studentID }} </span></p>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn colour1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                + Living Information
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p><span></span></p>
              <p><span><b>Address:</b> {{ address }} </span></p>
              <p><span><b>Suburb:</b> {{ suburb }} </span></p>
              <p><span><b>City:</b> {{ city }} </span></p>
              <p><span><b>Post Code:</b> {{ postcode }} </span></p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn colour1" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                + Work Information
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <p><span><b>Average Hours worked per week:</b> {{ workHours }} </span></p>
              <p><span><b>Average income per week:</b> {{ workIncome }} </span></p>
              <p><span><b>Rent per week for house:</b> {{ rent1 }} </span></p>
              <p><span><b>Your rent per week:</b> {{ rent2 }} </span></p>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>