.popup {
    position: absolute; 
    bottom: 50px; 
    right: 10px;
}

.help_popup {
	background:none;
	color:inherit;
	border:none; 
	font: inherit;
    cursor: pointer;
}

.card {
width: 18rem; 
height: 18rem;
background-color: white;
border: 2px solid black;
}

.textEnter {
    margin-top: 60%;
}