.welcome-text {
    text-align: center;
}

#textOne {
    margin-top: -60px;
}
.buttonDash {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f5fbfb; /* Dashboard buttons text colour */
}

.colour1 {
    background-color: #5f6366; /* Dashboard button colour 1*/
}

.colour2 {
    background-color: #4d6d9a; /* Dashboard button colour 2 */
}

.logoutButton {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #17252a; /* Logout button colour */
    color: #f5fbfb;  /* Logout button text colour */
    margin-bottom: 60px; 
}
