.welcome-text {
    margin-top: 80px;
}

p {
    text-align: center;
    margin-top: 15px;
}

.buttonDash {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f5fbfb;
}

.colour1 {
    background-color: #5f6366;
}

.colour2 {
    background-color: #4d6d9a;
}

.logoutButton {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #17252a;
    color: #f5fbfb;  
    margin-bottom: 60px; 
}
