/* You can add global styles to this file, and also import other style files */
.navbar {
    background-color: #2b7a78;
    background-image: none;
    background-repeat: no-repeat;
}

.breadcrumb {
    margin-top: 55px;
}


@media screen and (min-width: 1000px) {
.row-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}}

.container-fluid {
    padding: 60px 5% 70px 5%;
}

.container {
    margin-block-start: 20px;
    background-color: #60beba; /* Login container colour */
    background-image: none;
    background-repeat: no-repeat;
    color: #f5fbfb; /* Login text colour */
    padding-bottom: 20px;
    min-height: 462px;
}

hr {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
    border: 1.5px solid #4d9895; /* Line break colour and size */
 }

 .container-register {
    padding: 5%;
    max-width: 800px;
 }

 .footer-button {
    background-color: #4d6d9a; /* Set footer button colours */
    border: 0px;
    padding: 5px 20px 5px 20px;
    color: white; /* Set text colour for buttons */
}

.footer-button:hover {
    background-color: #4d9895;  /* Set footer button hovered colours */ 
}

.buttonDash {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f5fbfb; /* Dashboard buttons text colour */
}

.colour1 {
    background-color: #5f6366; /* Dashboard button colour 1*/
}

.colour2 {
    background-color: #4d6d9a; /* Dashboard button colour 2 */
}

.logoutButton {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #17252a; /* Logout button colour */
    color: #f5fbfb;  /* Logout button text colour */
    margin-bottom: 60px; 
}
.welcome-text {
    text-align: center;
}

#textOne {
    margin-top: -60px;
}


