/* #005757 dark blue, #037D96 blue */

/* You can add global styles to this file, and also import other style files */
.navbar {
    background-color: #E37222;
    background-image: none;
    background-repeat: no-repeat;
    color: white;
}

.footer-button {
    background-color: black; /* Set footer button colours */
    border: 0px;
    padding: 5px 20px 5px 20px;
    color: white; /* Set text colour for buttons */
}

.footer-button:hover {
    background-color: #4d9895;  /* Set footer button hovered colours */ 
}


.page-container {
    padding: 60px 5% 70px 5%;
    width: 100%;
}

.container-content {
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
    .container-content {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }}

.login-container {
    background-color: #07889B; /* Login container colour */
    color: #f5fbfb; /* Login text colour */
    padding: 5%;
    width: 100%;
}

.register-container {
    background-color: #07889B; /* Login container colour */
    color: #f5fbfb; /* Login text colour */
    padding: 5%;
    width: 100%;
}


hr {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
    border: 1.5px solid black; /* Line break colour and size */
    background-color: black;
 }

.formButton {
    padding: 10px 25px 10px 25px;
    width: 100%;
    text-align:center;
    margin:auto;
}

.darkButton {
    background-color:#17252a; /* button colour */
    color: white; /* button text colour */
}

.lightButton {
    background-color:#2b7a78; /* button colour */
    color: white; /* button text colour */
}

.center-button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
}

.card {
    color: inherit;
    background-color: inherit;
    width: 100%;
}

.buttonDashboard {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f5fbfb; /* Dashboard buttons text colour */
}

.colour1 {
    background-color: #5f6366; /* Dashboard button colour 1*/
}

.colour2 {
    background-color: #4d6d9a; /* Dashboard button colour 2 */
}

.center-text {
    text-align: center;
}

.forgotpwd {
    color: black; /* Forgot Password colour */
    margin: 5px;
    text-align: center;
}
