<div class="page-container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a routerLink="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a routerLink="/dashboard/centrelink">Centrelink</a></li>      
  </ol>
</nav>

  <div class="container-content">


  <div class="center-text">
    <p>Centrelink Dashboard</p> 
    <p>text text text</p>
  </div>

  <!-- Set up two bootstrap rows, add 3 buttons to each row -->
  <!-- row-width is a setting in styles.css to limit width -->
  <div class="row row-width">
    <div class="col-md">
      <a routerLink="/UnderConstruction"><button class="btn buttonDashboard colour1 paymentBut" >Next Payment</button></a>
    </div>
  </div>

  <div class="row row-width">
    <div class="col-md">
      <a routerLink="/dashboard/centrelink/centrelink-form"><button class="btn buttonDashboard colour2">MAKE A CLAIM</button></a>
    </div>

    <div class="col-md">
      <a routerLink="/UnderConstruction"><button class="btn buttonDashboard colour1">MY OUTSTANDING CLAIMS</button></a>
    </div>
    <div class="col-md">
      <a routerLink="/UnderConstruction"><button class="btn buttonDashboard colour2">PROCESSED CLAIMS</button></a>
    </div>
  </div>

  <div class="row row-width">
    <div class="col-md">
      <a routerLink="/dashboard"><button class="btn darkButton center-button">Exit</button></a>
    </div>
  </div>
  </div>
</div>