<div class="page-container">
  <div class="container-content register-container">
      <div class="message-candidate center-block">
          <div class="row">
            <div class="col-xs-8 col-md-6">
              <h4 class="message-name">John</h4>
            </div>
          </div>
          <div class="row message-text">
              Hello! How may I help you? 
          </div>
        </div>
        <div class="messaging center-block">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Send</button>
                </span>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
